Sentiment Analyzer_to_Googlesheets.json
{
  "name": "Sentiment Analyzer_to_Googlesheets",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Review",
        "formDescription": "How satisfied are you",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name",
              "placeholder": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Review",
              "fieldType": "textarea",
              "placeholder": "Your Review",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        32,
        -80
      ],
      "id": "0d2912f3-3244-4008-bdac-6daccabb656e",
      "name": "On form submission",
      "webhookId": "88fec866-148d-4e79-aec6-149d58f4d852"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Your Review'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert in sentiment analysis.\nYou conduct evaluations and determine which of the three options applies:\n\nPositive\nNegative\nNeutral\nYou respond with only one word."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "2294c87a-53c4-46d4-996f-744f51f9c9ce",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        192
      ],
      "id": "d9a66f04-c738-4b31-a195-8ae14ccd8850",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LI1hRwUamapDLaf1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        -112
      ],
      "id": "5ad76d59-b8d7-4a48-a0d5-16f4c1815347",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/13MTSnUzDEAMkhAbeabf-VZ1_AULeMJnL_VLXLv8R8Uw/edit?gid=22176198#gid=22176198",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 22176198,
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13MTSnUzDEAMkhAbeabf-VZ1_AULeMJnL_VLXLv8R8Uw/edit#gid=22176198"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['Your Name'] }}",
            "Review": "={{ $json['Your Review'] }}",
            "Sentiment": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        -112
      ],
      "id": "db5cc42e-86b9-48ba-99f4-647b5c8fe5c6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "r37vkh47DcBSMRDc",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a54ee1cb-6122-43cd-a549-f197432c70c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "636730afb8292dd3ddd573285437b42f04a169ef9cf97847ad05ffb649a999a9"
  },
  "id": "xoshm8TsoVFmOo67",
  "tags": []
}